.custom-card .card {
  border: none;
}
.custom-card .card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.home-menu {
  list-style-type: none;
}
.home-menu li {
  margin-right: 30px;
}
.home-menu li:hover {
  cursor: pointer;
}
